.contentLayout {
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.9);
  /* background-image: url('../../assets//img/backgrounds/Login4.jpg'); */
  padding: 24px;
  min-height: 80vh;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
